main {
	
	.fls-profile {

		.image-container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-top: $contentPadding*2;

			h1 {
				text-align: center;
				width: 100%;
				text-transform: uppercase;
				font-weight: normal;
			}

			img {
				width: 200px;
				border-radius: 50%;
				cursor: pointer;
			}
		}

		input, select, textarea, button {
			-webkit-appearance: none;
			border-radius: $borderRadius;
			border: 1px solid #999;
			padding: 10px;
			position: relative;

			&::placeholder {
				color: rgba(#999, .5);
			}

			&:focus, &.has-content {
				border: 1px solid #666 !important;
				outline: none !important;
			}
		}

		select {
			width: calc(100% + 20px) !important;
			background-repeat: no-repeat;
			background-position: 98% 10px;
			background-size: 20px;
			background-image: url(../images/chevron.svg);

			&:hover {
				background-size: 22px;
			}
		}

		fieldset {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: calc(100% - 20px);
			margin-inline-start: 0;
			margin-inline-end: 0;
			padding-block-start: 0;
			padding-block-end: 0;
			padding-inline-start: 0;
			padding-inline-end: 0;
			min-inline-size: min-content;
			margin-bottom: $contentPadding;
			padding-bottom: $contentPadding;
			border: none;
			border-bottom: 4px dashed rgba(#999, .5);
			box-sizing: border-box;

			fieldset {
				border-bottom: none;
				width: 100%;
			}


			&.password-update {
				
			}

			
			.ccm-attribute-address-composer-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 100%;
			}

			legend {
				font-size: 1.4rem;
				width: 100%;
				padding: $contentPadding 0;
			}

			.form-group {
				display: flex;
				flex-direction: column;
				justify-content: center;
				max-width: 49%;
				width: 49%;
				box-sizing: border-box;
				padding: $contentPadding;
				padding-left: 0;

				&.flex-end {
					justify-content: flex-end;
					margin-bottom: 5px;
				}

				* {
					width: 100%;
				}

				.ccm-input-time-wrapper {
					display: none;
				}

				input[type=checkbox] {
					width: 15px;
					padding: 0;
					-webkit-appearance: checkbox;
				}

				&.row {
					width: 100% !important;
					max-width: 100%;
					padding: $contentPadding 0;
				}

				button {
					@extend .frm-button;
				}

				.control-label {

				}

			}
		}


		@media only screen and (max-width: $media-s) {
			fieldset {
				display: block;
				width: 100%;

				.form-group {
					display: block;
					width: 100%;
					max-width: 100%;
					padding: 0;
					margin-bottom: $contentPadding;

					&.flex-end {
						justify-content: center;
						margin-bottom: 30px;
					}
				}

				input, textarea {
					padding: 10px;
					width: calc(100% - 20px) !important;
				}

				select {
					padding: 10px;
					width: 100% !important;
				}

				input[type=checkbox] {
					width: 15px !important;
				}

				.form-actions {
					max-width: 100% !important;
				}

			}

		}


	}
}