@import '_vars';

@import 'components/_buttons';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_pupil-search';

@import 'pages/_homepage';
@import 'pages/_login-page';
@import 'pages/_avatar';

@import '_form';

html, body {
  	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	::-webkit-scrollbar {
		display: none;
	}
} 

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	
	@media (hover: none) and (pointer: none) {
    	overflow-y: initial !important;
	}

}

body {
	font-family: 'Poppins', Arial, Sans;
	font-size: calc((1 - 1) * 1.2vw + 1rem);
}

.content-wrapper {
	padding: $contentPadding;
	position: relative;
}

main {
	min-height: calc(70vh - 2.5rem);
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;

	&:hover {
		opacity: .7;
	}
}

button {
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.section-header {
	width: 100%;
	text-align: center;
	color: #666;
}

/* C5 overrides */

#ccm-account-menu-container {
	display: none;
}

.alert-dismissable, .user-msg, .alert-success {
	width: 100%;
	text-align: left;
	padding: $contentPadding;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $contentPadding;
		width: 380px;
		border: thin solid $flsOrange;
		border-radius: $borderRadius;
		background: #fff;
		margin-left: -25px;
		filter: drop-shadow(6px 6px 10px rgba(#999, .3));
		margin-bottom: 10px;
	}

	.close {
		display: none;
	}
}

.alert-success {

}