/config.php

.DS_Store
.idea
.vscode
*.sass-cache
*.sass-cache/*
*.map
*.log
*.bak
*.local

robots.txt

frontend_src/node_modules/
db_backups/*.sql
local/
vendor/


node_modules/


public/application/config/doctrine/proxies/

public/application/files/cache*
public/application/files/vehicles*
public/application/files/avatars*
#public/application/themes/karfu/css/bundle.css
#public/application/themes/karfu/js/bundle.js
#public/application/themes/karfu/js/bundle.js.map
public/application/config/generated_overrides/concrete.php
journey/data
