.homepage-options {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.student-options {
		width: 400px;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			@extend .homepage-button;

			&.cal {
				background-image: url(../images/calendar.svg);
			}

			&.profile {
				background-image: url(../images/edit-profile.svg);
			}

			&.logout {
				background-image: url(../images/lock.svg);
			}

		}
	}
}