.login-page {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;


	.login-form {
		width: 400px;
		height: 200px;
		display: block;

		.form-group {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: $contentPadding/2 0;

			&:last-of-type {
				flex-wrap: wrap;
			}

			&.ccm-authentication-type-select {
				display: none;
			}

			input {
				border-radius: $borderRadius;
				border: thin solid #999;
				padding: 15px;
				width: 60%;
			}

			.btn-primary {
				@extend .frm-button;
				background-image: url(../images/lock-locked.svg);
			}

			a.pull-right {
				width: 100%;
				padding-top: 20px;
			}
		}

		.checkbox {
			padding-top: 15px;
		}

	}

	.forgotPassword {
		.btn-primary {
			@extend .frm-button;
		}

		.btn-block {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		button[name="resetPassword"] {
		  font-size: 0;
		  @extend .frm-button;
		  background-image: url(../images/reset.svg);
		  background-position: 50%;
		}
	}

}
