.pupil-search {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 60px;

	input {
		width: 280px;
		height: 63px;
		padding: 0 10px;
		border: thin solid #666;
		border-right: none;
		border-radius: 6px 0 0 6px;
		font-size: 1.2rem;
	}

	button {
		background-image: url(../images/search.svg);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: 50%;
		border: thin solid #666;
		border-radius: 0 6px 6px 0;
		width: 65px;
		height: 65px;
		display: block;

		&:hover {
			background-size: 45px;
		}
	}
}

.search-results {
	margin-top: 60px;

	.pupil-list-table {
		width: 100%;
		cellspacing: 0;
		cellmargin: 0;
		border-collapse: collapse;

		th {
			background: rgba(#E3E3E3, .3);
			text-align: left;
			padding: 8px;
		}

		td {
			border: thin solid rgba(#E3E3E3, .5);
			padding: 8px;

			&.img-holder, &.edit {
				text-align: center;
			}


			.edit-button {
				background-image: url(../images/edit.svg);
				background-size: 40px;
				background-repeat: no-repeat;
				background-position: 50%;
				background-color: initial;
				width: 50px;
				height: 50px;
				display: block;
				margin: 15px auto;

				&:hover {
					background-size: 42px;
				}
			}

			img {
				border-radius: 50%;
				width: 60px;
			}
		}

		tr:nth-child(odd) {
			background: rgba(#E3E3E3, .2);
		}

		.parent {
			position: relative;
			z-index: 5;

			&.show:after {
				display: block;
			}

			&:after {
				content: '';
				position: absolute;
				display: none;
				width: 0;
				z-index: 1;
				border-style: solid;
				border-color: transparent #FFF;
				border-width: 20px 20px 20px 0;
				top: -8px;
				left: 125px;
				z-index: 3;
			}

			.pic {
				position: absolute;
				top: -70px;
				left: 70%;
				width: 150px;
				height: 150px;
				display: none;
				border-radius: $borderRadius;
				background-color: #fff;
				z-index: 3;
				padding: 10px;
				filter: drop-shadow(6px 6px 10px #999);

				&.show {
					display: block;
				}
			}
		}

	}
}